.discount
  background: url("$rootUrl/discount-mob.jpg") no-repeat center  @md url("$rootUrl/discount.jpg") no-repeat center
  background-size: cover
  position: relative
  overflow: hidden
  .btn-yellow-b
    position: absolute
    bottom: auto @md 10px
    left: auto @md 50%
    top: 4.0625em @md auto
    right: 3.875em @md auto
    margin-left: 0 @md -11.8125em
  &__inner
    width: 100% @md 91.875em
    margin: auto
    padding: 3.25em 0 0 @md 8.0625em 0 0
    position: relative
    min-height: 48.6875em @md 67.6875em
    &--inf
      padding: 2.5em 0 0 @md 3.75em 0 0
      width: 100% @md 99em
  &__item
    text-align: center
    width: 23em @md 29.375em
    font-family: $fontShadow
    margin-top: 3.5em @md 5.0625em
    &:first-child
      margin-top: 0
  &__percent
    color: #b9318f
    font-size: 12.375em @md 16.875em
    line-height: 1
    &--violet
      color: #5e4697
  &__title
    line-height: 1
    font-size: 3.375em @md 4.8125em
    color: #fff
    margin: -0.629em 0 0 @md -0.55844em 0 0
  &__info
    color: #fff
    line-height: 1
    font-size: 1.875em @md 2.5em
    margin: -0.1em 0 0 @md -0.075em 0 0
  &__text
    color: #fff
    font-size: 1.625em @md 2.25em
    font-family: $fontCandara
    margin: 1.423em 0 0 @md 1.3em 0 0
    line-height: 1.2
  &__info-cont
    color: #fff
    width: 26.25em @md 30.0375em
    text-align: center
    padding: 0 1.25em @md 0
    h3
      font-family: $fontShadow
      color: #fff
      line-height: 1.2
      font-size: 1.875em @md 2.75em
      margin: 1.2666em 0 1.0333em @md 1.136em 0 1em
    p
      color: #fff
      font-size: 1.375em @md 1.875em
      line-height: 1.2
      margin: 0 0 1.227em @md 0 0 1em
  &__img
    width: 18.5625em @md auto
    margin: auto @md 0
    img
      max-width: 100%
