.footer
  background: #5e4697
  height: 6.125em @md 7.5em
  text-align: center
  padding: 2.375em 0 0 @md 2.875em 0 0
  &__link
    color: #fff
    font-family: $fontShadow
    font-size: 1.875em @md 2.25em
    line-height: 1
    text-decoration: none
