.subscription
  background: url("$rootUrl/subscription.jpg") no-repeat center top
  background-size: cover
  position: relative
  overflow: hidden
  &__checkbox
    position: relative
    margin: -0.6181em 0 2.5em
    padding-left: 2.5em
    z-index: 50
    &-label
      font-size: 1.5em @md 1.375em
      color: #fff
      a
        color: #25a3d2
        text-decoration: none
        &:hover
          color: #23527c
          text-decoration: underline
    &-inner
      width: 1.875em
      height: 1.875em
      position: absolute
      top: 0.375em
      left: 0
      overflow: hidden
      span
        width: 1.875em
        height: 1.875em
        background-color: #FAFAFA
        border: 1px solid #CCC
        box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px -2px rgba(0,0,0,0.1)
        display: block
        position: relative
        transition: 0.3s all ease
        &:before
          display: block
          content: ''
          width: 1.25em
          height: 1em
          background: url("$rootUrl/check.svg") no-repeat center
          background-size: cover
          position: absolute
          top: 0.375em
          left: 0.25em
      input[type="checkbox"]
        position: absolute
        top: 0
        left: 0
        width: 1.875em
        height: 1.875em
        opacity: 0
        z-index: 50
        cursor: pointer
        &:checked + span
          border-color: #00b3e4
          background: #00b3e4
        &:hover + span
          border-color: #00b3e4
  &__inner
    padding: 0 0 31.25em @md 0 3.75em
    position: relative
    min-height: 62.5em @md 67.5em
    box: wrap
    &:before
      position: absolute
      content: ''
      display: block
      background: url($rootUrl/subscription-boy.png) no-repeat center top
      background-size: 100% auto
      width: 20em @md 41.6875em
      height: 35em @md 85em
      left: 9.375em @md 6em
      top: auto @md 4em
      bottom: -2.5em @md auto
    &:after
      position: absolute
      display: block
      content: ''
      width: 15.3125em @md 26.0625em
      height: 18.75em @md 29.875em
      background: url("$rootUrl/zum.svg") no-repeat center top
      background-size: 100% auto
      bottom: -6.25em
      left: 18.75em @md 31.25em
    &--small
      &:before
        width: 12em @md 25em
        height: 26em @md 50em
        left: 40px @md 12em
        top: auto @md 37em
        bottom: -30px @md auto
      &:after
        position: absolute
        display: block
        content: ''
        width: 12em @md 26.0625em
        height: 18.75em @md 29.875em
        background: url("$rootUrl/zum.svg") no-repeat center top
        background-size: 100% auto
        bottom: -6.5em
        left: 80px @md 31.25em
  &__cont
    max-width: 100%
    width: 41.25em @md 62.5em
    margin-left: auto
    padding: 2.25em 0 0 @md 5.4375em 0 0
    @media $md-down
      margin: auto
  &__title
    color: #fff
    font-family: $fontShadow
    text-align: center
    line-height: 1.2
    font-size: 1.875em @md 2.6875em
    margin-bottom: 0.666em @md 0.67em
  &__info
    text-align: center
    color: #fff
    font-size: 1.875em @md 2.75em
    line-height: 1.2
    margin-bottom: 0.5em @md 1.295em
    p
      margin: 0 0 0.5em @md 0 0 0.34em
      &:last-child
        margin-bottom: 0
  &__form
    margin: 1.875em auto 0 @md 2.875em auto 0
    width: 26.25em @md 36.6875em
  h3
    color: #fff
    font-size: 1.875em @md 2.75em
    font-weight: 400
    margin: 0 0 0.3em @md 0 0 0.27em 0
    text-align: center
  .btn-violet-s,
  .btn-yellow-l
    margin: 0 auto 1.875em
    display: block
  &__sel
    width: 18.75em @md 25.8125em
  &__sum
    width: 25em @md 41.625em
    height: 21.5em @md 35.8125em
    background: url($rootUrl/sum.svg) no-repeat center
    background-size: cover
    position: absolute
    top: auto @md 0.9375em
    left: 11.0625em @md 23.4375em
    bottom: 11.875em @md auto
    &-title
      font-family: $fontShadow
      font-size: 1.875em @md 2.25em
    &-price
      font-size: 1.875em @md 3.125em
      font-family: $fontShadow
      margin: 0.2em 0 0
      span
        font-size: 0.72em
    &-inner
      padding: 0.9357em @md 0.9375em
      margin: 2.625em 0 0 7em @md 5.4375em 0 0 12.0625em
      width: 14.625em @md 23.9375em
      height: 14.625em @md 24.6875em
      text-align: center
      box: wrap
      align-items: center
      justify-content: center
      color: #fff
      p
        font-size: 1.375em @md 2.25em
        line-height: 1.2
        margin: 0
  &--done
    background: url("$rootUrl/subscription-done-mob.jpg") no-repeat center top @md url("$rootUrl/subscription-done.jpg") no-repeat center top
    background-size: cover
    .subscription__inner
      @media $md-down
        min-height: 73.9375em
        padding-bottom: 0
      &:before,
      &:after
        display: none
    .subscription__cont
      padding: 4.125em 0 0 @md 7.3125em 0 0
      margin: 0 auto @md auto
    .welcome__btn
      position: relative
      top: auto
      right: auto
      margin: 0 auto @md 4.375em auto 0
  &__d-title
    text-align: center
    color: #fff
    font-size: 6.25em @md 10.75em
    font-family: $fontShadow
    line-height: 1
    margin: 0 0 -0.15em @md 0 0 -0.156em
  &__d-info
    color: #fff
    font-size: 1.375em @md 2.25em
    line-height: 1.2
    text-align: center
    margin: 1.272em 0 1.863em @md 1.5833em 0 1.944em
