.unlimited
  position: relative
  background: url("$rootUrl/unlimited-mob.jpg") no-repeat center @md #d39630
  background-size: cover
  height: 59.1875em @md 67.0875em
  overflow: hidden
  &:before
    position: absolute
    top: -0.8em
    left: 50%
    display: none @md block
    content: ''
    width: 92.1875em
    height: 67.8125em
    background: url($rootUrl/unlimited-girl.png) no-repeat center
    background-size: cover
    transform: translate(-50%,0)
    margin-left: 0.8125em
    z-index: 5
  &--new
    .btn-pink,
    .btn-violet
      margin: 0
      position: absolute
      bottom: 3.75em
      z-index: 100
    .btn-violet
      left: 11.5em
    .btn-pink
      right: 11.5em
    &:before
      transform: translate(0,0)
      margin: 0
      left: -0.0625em
      top: -0.375em
      size: 102.9375em 67.5625em
      background: url($rootUrl/unlimited-girl-new.png) no-repeat center
      background-size: cover
    .unlimited__item
      &--right
        padding-right: 7.25em
    .unlimited__row
      margin-top: 1.775em @md 2.875em
    .unlimited__price
      font-size: 11.5em @md 21.25em
    .unlimited__sub-title
      margin-top: 1em
    @media $md-down
      height: 52.8em
      .unlimited__title
        width: 17em
        padding: 1.5em 0 0
        line-height: 1.25
      .unlimited__item--right
        padding: 0
        margin-left: -1.1875em
      .unlimited__rub
        font-size: 1.7em
      .unlimited__sub-title
        font-size: 2.3em
        margin-top: 0.85em
      .unlimited__day
        font-size: 1.2em
      .btn-pink
        bottom: auto!important
        top: 43em
        left: 4.625em!important
      .btn-violet
        bottom: auto!important
        top: 34em
        left: 4.625em!important
  @media $md-down
    .btn-pink,
    .btn-violet
      position: absolute
      bottom: 4.5em
    .btn-pink
      left: 4.625em
    .btn-violet
      right: 4.625em
  .btn-pink,
  .btn-violet
    margin: 0 @md 2.375em 0 0
  &__row
    box: wrap
    margin-top: 2.375em @md 6.4375em
    width: 27.5em @md 100%
  &__item
    text-align: center
    flex: 0 0 100% @md 0 0 auto
    width: auto
    max-width: 100%
    position: static @md relative
    z-index: 10
    font-family: $fontShadow
    color: #fff
    &--left
      padding-left: 0 @md 7.5em
      margin-bottom: 2.3125em @md 0
      .unlimited__price
        position: relative
        &:before
          font-size: 0.04624277em
          position: absolute
          top: 0.5em
          right: 1.3125em
          width: 11.5em
          height: 15.5625em
          background: url("$rootUrl/arm.png") no-repeat center
          background-size: cover
          display: none
          content: ''
    &--right
      margin-left: auto
      padding-right: 0 @md 4.5625em
  &__title
    color: #fff
    font-size: 2.375em @md 3.75em
    line-height: 1.3 @md 1.2
    text-align: center
    font-family: $fontShadow
    padding: 1.6578em 0 0 @md 0.7em 0 0
    position: relative
    z-index: 10
    width: 14.21em @md auto
    margin: auto @md 0
    span
      color: #c52462
      font-size: 1.1578em @md 4.5em‬
  &__price
    text-align: center
    font-size: 9.375em @md 21.625em
    line-height: 1
    letter-spacing: 0 @md -0.00867em
  &__rub
    line-height: 1
    font-size: 1.375em @md 3.125em
    text-align: center
    margin: -1.5em 0 0 @md -1.54em 0 0
  &__sub-title
    font-size: 1.875em @md 4.3125em
    line-height: 1.2
    margin: 0.8em 0 0 @md 0.74em 0 0
  &__day
    font-size: 1em @md 2.25em
    line-height: 1
    margin: 0.125em 0 0 @md 0.111em 0 0
