.welcome
  height: 27.625em @md 67.8125em
  background: url("$rootUrl/welcome-bg-mob.jpg") no-repeat center @md url("$rootUrl/welcome-bg.jpg") no-repeat center
  background-size: cover
  position: relative
  z-index: 100
  &__title
    // size: 34.1875em 23.4375em @md 67em 45.875em
    // background: url($rootUrl/welcome-text.svg) no-repeat center
    size: 28.875em 24.0625em @md 58.4375em 48.625em
    background: url($rootUrl/label.svg) no-repeat center
    background-size: cover
    position: absolute
    // top: 1em @md 4.0625em
    // right: 0.3125em @md 1.9375em
    top: 1em @md 2.8125em
    right: 1em @md 7.5em
  &__btn
    position: absolute
    right: 8.125em @md 18.125em
    top: auto @md 49.4375em
    bottom: -2.125em @md auto
    size: 13.5em 6.25em @md 25.9375em 12em
    transform: rotate(-8.2deg)
    display: block
    text-decoration: none
    z-index: 100
    &-smilie
      position: absolute
      display: block
      transform: rotate(8.2deg)
      size: 2.5625em  2.125em @md 5.125em 4.25em
      transition: 0.3s all ease
      background: url("$rootUrl/smilie.png") no-repeat center
      background-size: cover
      z-index: 10
      top: 2.25em
      left: 2.125em
    &:hover
      .welcome__btn-smilie
        &--1
          // top: -146px
          // left: -102px
          animation: smilie-1 3s infinite
        &--2
          // top: -163px
          // left: -49px
          animation: smilie-2 3s 1s infinite
        &--3
          // top: -300px
          // left: -149px
          animation: smilie-3 4s 0.5s infinite
        &--4
          // top: -406px
          // left: -91px
          animation: smilie-4 4s 1s infinite
        &--5
          // top: -127px
          // left: 141px
          animation: smilie-5 4s infinite
        &--6
          // top: -273px
          // left: 69px
          animation: smilie-6 4s 0.5s infinite
        &--7
          // top: -421px
          // left: 124px
          animation: smilie-7 4s infinite
        &--8
          // top: -117px
          // left: 269px
          animation: smilie-8 5s infinite
        &--9
          // top: -260px
          // left: 324px
          animation: smilie-9 4s 0.5s infinite
        &--10
          // top: -381px
          // left: 398px
          animation: smilie-10 4s infinite
        &--11
          // top: -422px
          // left: 300px
          animation: smilie-11 4s 1s infinite
        &--12
          // top: -78px
          // left: 366px
          animation: smilie-12 3s infinite
    &-bg
      size: 13.5em 6.25em @md 25.9375em 12em
      background: url($rootUrl/btn-yellow-v.svg) no-repeat center
      background-size: cover
      display: block
      opacity: 0
      position: absolute
      top: 0
      left: 0
      z-index: 20
    &-text
      display: block
      position: relative
      z-index: 55
      font-family: $fontShadow
      color: #5e4595
      font-size: 2.0625em @md 5.25em
      text-align: center
      height: auto @md 12em
      line-height: 3.3em @md 2.4em
    &:before ,
    &:after
      display: block
      content: ''
      size: 13.5em 6.25em @md 25.9375em 12em
      position: absolute
      top: 0
      left: 0
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      z-index: 30
    &:after
      opacity: 0
      background-image: url($rootUrl/btn-yellow-v-3.svg)
      z-index: 40
    &:before
      background-image: url($rootUrl/btn-yellow-v-2.svg)
    &:hover
      &:after
        opacity: 1
      &:before
        opacity: 0
    &:active
      &:after ,
      &:before
        opacity: 0
      .welcome__btn-bg
        opacity: 1
    &--smilies
      display: block

  &__logo
    size: 9.4375em 2.4375em @md 16.3125em 4.375em
    background: url("$rootUrl/logo-c.svg") no-repeat center @md url("$rootUrl/logo-w.png") no-repeat center
    background-size: cover @md  cover
    position: absolute
    display: block
    left: 5.125em @md 3.25em
    bottom: auto @md 2.5625em
    top: 1.625em @md auto
