.btn-pink
  size: 16.375em 6.1875em @md 30.3125em 11.5em
  display: inline-block
  vertical-align: top
  position: relative
  text-decoration: none

  &__bg
    size: 16.375em 6.1875em @md 30.3125em 11.5em
    background: url($rootUrl/btn-pink-3.svg) no-repeat center
    background-size: cover
    display: block
    opacity: 0
    position: absolute
    top: 0
    left: 0
  &__text
    display: block
    position: relative
    z-index: 10
    font-family: $fontShadow
    color: #fff
    font-size: 1.375em @md 2.5em
    text-align: center
    height: auto @md 4.6em
    line-height: 1.2
    padding: 1.136em 0 0 @md 1.175em 0 0
  &:before ,
  &:after
    display: block
    content: ''
    size: 16.375em 6.1875em @md 30.3125em 11.5em
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &:after
    opacity: 0
    background-image: url($rootUrl/btn-pink-2.svg)
    z-index: 2
  &:before
    background-image: url($rootUrl/btn-pink.svg)
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0
  &:active
    &:after ,
    &:before
      opacity: 0
    .btn-pink__bg
      opacity: 1
.btn-violet
  size: 16.375em 6.1875em @md 30.3125em 11.5em
  display: inline-block
  vertical-align: top
  position: relative
  text-decoration: none

  &__bg
    size: 16.375em 6.1875em @md 30.3125em 11.5em
    background: url($rootUrl/btn-violet-3.svg) no-repeat center
    background-size: cover
    display: block
    opacity: 0
    position: absolute
    top: 0
    left: 0
  &__text
    display: block
    position: relative
    z-index: 10
    font-family: $fontShadow
    color: #fff
    font-size: 1.375em @md 2.5em
    text-align: center
    height: auto @md 4.6em
    line-height: 1.2
    padding: 1.136em 0 0 @md 1.175em 0 0
  &:before ,
  &:after
    display: block
    content: ''
    size: 16.375em 6.1875em @md 30.3125em 11.5em
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &:after
    opacity: 0
    background-image: url($rootUrl/btn-violet-2.svg)
    z-index: 2
  &:before
    background-image: url($rootUrl/btn-violet.svg)
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0
  &:active
    &:after ,
    &:before
      opacity: 0
    .btn-violet__bg
      opacity: 1
.btn-yellow-l
  size: 26.125em 6.875em
  display: inline-block
  vertical-align: top
  position: relative
  text-decoration: none
  &__bg
    size: 26.125em 6.875em
    background: url($rootUrl/btn-yellow-l-3.svg) no-repeat center
    background-size: cover
    display: block
    opacity: 0
    position: absolute
    top: 0
    left: 0
  &__text
    display: block
    position: relative
    z-index: 10
    font-family: $fontShadow
    color: #5e4697
    font-size: 2em
    text-align: center
    height: 3.4375em
    line-height: 1.2
    padding: 1.21875em 0 0
  &:before ,
  &:after
    display: block
    content: ''
    size: 26.125em 6.875em
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &:after
    opacity: 0
    background-image: url($rootUrl/btn-yellow-l-2.svg)
    z-index: 2
  &:before
    background-image: url($rootUrl/btn-yellow-l.svg)
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0
  &:active
    &:after ,
    &:before
      opacity: 0
    .btn-yellow-l__bg
      opacity: 1
.btn-yellow-b
  size: 13.5625em 7.875em @md 24em 13.875em
  display: inline-block
  vertical-align: top
  position: relative
  text-decoration: none
  &__bg
    size: 13.5625em 7.875em @md 24em 13.875em
    background: url($rootUrl/btn-yellow-b-3.svg) no-repeat center
    background-size: cover
    display: block
    opacity: 0
    position: absolute
    top: 0
    left: 0
  &__text
    display: block
    position: relative
    z-index: 10
    font-family: $fontShadow
    color: #5e4697
    font-size: 1.625em @md 2.875em
    text-align: center
    line-height: 1.2
    padding: 1.3em 0 0 @md 1.217em 0 0
  &:before ,
  &:after
    display: block
    content: ''
    size: 13.5625em 7.875em @md 24em 13.875em
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &:after
    opacity: 0
    background-image: url($rootUrl/btn-yellow-b-2.svg)
    z-index: 2
  &:before
    background-image: url($rootUrl/btn-yellow-b.svg)
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0
  &:active
    &:after ,
    &:before
      opacity: 0
    .btn-yellow-b__bg
      opacity: 1
.btn-violet-s
  size: 14.625em 5.5625em @md 20.3125em 7.75em
  display: inline-block
  vertical-align: top
  position: relative
  text-decoration: none
  &__bg
    size: 14.625em 5.5625em @md 20.3125em 7.75em
    background: url($rootUrl/btn-violet-s-3.svg) no-repeat center
    background-size: cover
    display: block
    opacity: 0
    position: absolute
    top: 0
    left: 0
  &__text
    display: block
    position: relative
    z-index: 10
    font-family: $fontShadow
    color: #fff
    font-size: 1.375em @md 2.125em
    text-align: center
    line-height: 1.2
    padding: 1.409em 0 0 @md 1.294em 0 0
  &:before ,
  &:after
    display: block
    content: ''
    size: 14.625em 5.5625em @md 20.3125em 7.75em
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &:after
    opacity: 0
    background-image: url($rootUrl/btn-violet-s-2.svg)
    z-index: 2
  &:before
    background-image: url($rootUrl/btn-violet-s.svg)
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0
  &:active
    &:after ,
    &:before
      opacity: 0
    .btn-violet-s__bg
      opacity: 1
