@font-face {
    font-family:'Shadow';
    src: url('../fonts/shadow/shadow_regular-webfont.eot');
    src: local("Shadow"), url('../fonts/shadow/shadow_regular-webfont.eot?#iefix')
    format('embedded-opentype'), url('../fonts/shadow/shadow_regular-webfont.woff2')
    format('woff'), url('../fonts/shadow/shadow_regular-webfont.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Candara';
    src: url('../fonts/candara/CANDARA.eot');
    src: local("Candara"), url('../fonts/candara/CANDARA.eot?#iefix')
    format('embedded-opentype'), url('../fonts/candara/CANDARA.woff')
    format('woff'), url('../fonts/candara/CANDARA.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Candara';
    src: url('../fonts/candara/CandaraBold.eot');
    src: local("Candara Bold"), url('../fonts/candara/CandaraBold.eot?#iefix')
    format('embedded-opentype'), url('../fonts/candara/CandaraBold.woff')
    format('woff'), url('../fonts/candara/CandaraBold.ttf')
    format('truetype');
    font-weight: bold;
    font-style: normal;
}
