.form-row
  margin-bottom: 1.875em @md 2.9375em
  &--m-large
    margin: 6em 0 @md 10em 0
  &__hint
    font-size: 1em
    color: #e91e63
    margin: 0.3125em 0 0 0.3125em
    display: none
  &--error
    .form-row__hint
      display: block
    .form-row__input
      box-shadow: inset 0 0 0 2px #e91e63
  &__label
    font-size: 1.875em @md 2.75em
    line-height: 1.2
    color: #fff
    margin-bottom: 0.5em
    text-align: center
  &__input
    text-align: center
    color: #000
    font-size: 1.875em @md 2.5em
    height: 1.866em @md 1.95em
    border-radius: 56px @md 0.75em
    width: 100%
    border: 0
    outline: 0
    background: #fff
    &::placeholder
      color: #666666
    @media $md-down
      line-height: 1.866em
.jq-selectbox
  width: 100%
  z-index: 100
  &__select-text
    width: 100%
    height: 1.866em @md 1.95em
    background: #fff
    padding: 0 1em 0 0.5em
    border-radius: 1.866em @md 0.75em
    color: #666666
    font-size: 1.875em @md 2.5em
    line-height: 1.866em @md 1.9em
    text-align: center
    position: relative
    &:before
      width: 0
      height: 0
      border-style: solid
      border-width: 0.325em 0.2em 0 0.2em
      border-color: #a2a2a2 transparent transparent transparent
      display: block
      content: ''
      position: absolute
      right: 0.625em
      top: 50%
      margin-top: -0.15em
  &__dropdown
    padding: 0.3125em 0
    width: 100%
    z-index: 500
    ul
      padding: 1.25em 0
      list-style: none
      background: #fff
      border-radius: 1.25em
      margin: 0
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2)
      li
        padding: 0.416em 0.8333em
        font-size: 1.5em
        transition: 0.3s all ease
        cursor: pointer
        &:hover
          background: #eee
        &.sel,
        &.selected
          background: #95c0dc!important
          color: #fff!important
          cursor: default
