@keyframes smilie-1
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(-6.375em,-9.125em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(-8.875em,-11.625em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-2
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(-3.0625em,-10.1875em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(-5em,-12.6875em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-3
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(-9.3125em,-18.75em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(-11.8125em,-21.25em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-4
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(-5.6875em,-25.375em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(-8.1875em,-27.875em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-5
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(8.8125em,-7.9375em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(11.3125em,-10.4375em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-6
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(4.3125em,-17.0625em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(3.0625em,-19.5625em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-7
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(7.74em,-26.3125em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(7.5em,-28.8125em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-8
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(16.8125em,-7.3125em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(19.3125em,-9.8125em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-9
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(20.25em,-16.25em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(22.75em,-18.75em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-10
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(24.875em,-23.8125em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(27.5em,-26.25em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-11
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(18.75em,-26.375em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(21.25em,-28.875em) rotate(8.2deg)
    opacity: 0
@keyframes smilie-12
  0%
    opacity: 0
    transform: translate(3.25em,4.125em) rotate(8.2deg)
  50%
    transform: translate(22.875em,-4.875em) rotate(8.2deg)
    opacity: 1
  100%
    transform: translate(25.375em,-7.375em) rotate(8.2deg)
    opacity: 0
