*
  box-sizing: border-box
:after,
:before
  box-sizing: border-box
body
  min-width: 320px
  font-family: $fontCandara
  text: $colorBlack 2.2222vw 1.4 400 @md 0.83333vw @xxl 16px
  background: #eee
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
