.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase

.fw-100
  font-weight: 100!important
.fw-300
  font-weight: 300!important
.fw-500
  font-weight: 500!important
.fw-700
  font-weight: 700!important
.fw-bold
  font-weight: bold!important
.fw-900
  font-weight: 900!important
