.discount
  .discount__inner
    .discount__item 
      .discount__percent 5%
      .discount__title СКИДКА
      .discount__info на все меню!
    .discount__item 
      .discount__percent.discount__percent--violet 10%
      .discount__title СКИДКА
      .discount__info на особые блюда
      .discount__text  Cкидка предоставляется
        br
        | по карте вкусняшек
    a(href="").btn-yellow-b
      span.btn-yellow-b__bg
      span.btn-yellow-b__text срочно 
        br
        |получить
        
