.discount
  .discount__inner.discount__inner--inf
    .discount__info-cont
     .discount__img
       img(src="img/pic-1.png")
     h3 КАРТА ВКУСНЯШЕК
     p выдается в парке при предъявлении 
       span  подписки на безлимит
     P действует только 
       span  при наличии подписки 
     p объем скидок и бонусов
      span  по карте можно узнать 
      span в парке или на сайте 
      span  zamania.ru 
    a(href="").btn-yellow-b
      span.btn-yellow-b__bg
      span.btn-yellow-b__text срочно 
        br
        |получить
        
