.subscription.subscription--done
  .subscription__inner  
    .subscription__cont
      .subscription__d-title УРА!
      .subscription__title приходите к нам
        br
        | каждый день!
      .subscription__d-info Оплата прошла успешно.
        br
        | Информация о твоей подписке была отправлена 
        br
        |на твой e-mail
      .subscription__title Хотите взять еще один
        br
        | безлимит?
      a(href="").welcome__btn
        span.welcome__btn-bg
        span.welcome__btn-text ХОЧУ!
