.subscription
  .subscription__inner  
    .subscription__cont
      .subscription__title Будем Друзьями?
      .subscription__title вступай в наш клуб
        br
        | прямо сейчас!
      .subscription__form
        .form-row.form-row--m-large
          .form-row__label Введи свой номер
          input(type="text" placeholder="+ 7 (___) - ___ - __ - __").form-row__input.mask-phone
      a(href="").btn-yellow-l
        span.btn-yellow-l__bg
        span.btn-yellow-l__text  ПОДТВЕРДИТЬ
