.subscription
  .subscription__inner.subscription__inner--small
    .subscription__sum
      .subscription__sum-inner
        div 
          p Подписка 
          .subscription__sum-title Будни
          p для Семена в парк 4Daily 
          .subscription__sum-price 490
            span руб
    .subscription__cont
      .subscription__title А мы тебя узнали!
      .subscription__info.mb-0
        p + 7 (000) - 000 - 00 - 00
        p Иванов Иван Иванович
      .subscription__form
        .form-row
          select.styler
            option Семен Иванович Иванов
            option 2
            option 3
        .form-row
          input(type="text" placeholder="Имя").form-row__input
        .form-row
          input(type="text" placeholder="Фамилия").form-row__input
        h3 Дата рождения
        .flex-p-wrap
          .col-1-3
            .form-row
              select.styler
                option 1
                option 2
                option 3
          .col-1-3
            .form-row
              select.styler
                option 01
                option 02
                option 03
          .col-1-3
            .form-row
              select.styler
                option 1991
                option 1992
                option 1993
        h3 Выбери Парк
        .form-row
          select.styler
            option 4DAILY.Мытищи
            option 4DAILY.Мытищи 2
            option 4DAILY.Мытищи 3
      a(href="").btn-violet-s
        span.btn-violet-s__bg
        span.btn-violet-s__text  ПОДТВЕРДИТЬ
        
