.subscription
  .subscription__inner  
    .subscription__cont
      .subscription__title Давай знакомится?
      .subscription__info
        p + 7 (000) - 000 - 00 - 00
      .subscription__info.mb-0
        p Представься, пожалуйста!
      .subscription__form
        .form-row.form-row--error
          input(type="text" placeholder="Фамилия").form-row__input
          .form-row__hint Поле заполнено не верно
        .form-row.form-row--error
          input(type="text" placeholder="Имя").form-row__input
          .form-row__hint Поле заполнено не верно
        .form-row.form-row--error
          input(type="text" placeholder="Отчество").form-row__input
          .form-row__hint Поле заполнено не верно
        h3 Дата рождения
        .flex-p-wrap
          .col-1-3
            .form-row
              select.styler
                option 1
                option 2
                option 3
          .col-1-3
            .form-row
              select.styler
                option 01
                option 02
                option 03
          .col-1-3
            .form-row
              select.styler
                option 1991
                option 1992
                option 1993
      a(href="").btn-violet-s
        span.btn-violet-s__bg
        span.btn-violet-s__text  ПОДТВЕРДИТЬ
