.subscription
  .subscription__inner  
    .subscription__cont
      .subscription__title Будем Друзьями?
      .subscription__title вступай в наш клуб
        br
        | прямо сейчас!
      .subscription__form
        .form-row.form-row--m-large
          .form-row__label Введи код подтверждения
          input(type="text" placeholder="__ __ __ __").form-row__input.mask-code
      a(href="").btn-violet-s
        span.btn-violet-s__bg
        span.btn-violet-s__text  ПОДТВЕРДИТЬ
