.unlimited
  .unlimited__title КУПИ БЕЗЛИМИТ в Июле и получи 
    span супер-цену!
  .unlimited__row
    .unlimited__item.unlimited__item--left
      .unlimited__price 590
      .unlimited__rub руб в месяц
      .unlimited__sub-title безлимит
        br
        |счастья
      .unlimited__day в будни
      a(href="").btn-pink
        span.btn-pink__bg
        span.btn-pink__text а еще что-то
          br
          |прилагается?
    .unlimited__item.unlimited__item--right 
      .unlimited__price 990
      .unlimited__rub руб в месяц
      .unlimited__sub-title безлимит
        br
        |счастья
      .unlimited__day в любой день
      a(href="").btn-violet
        span.btn-violet__bg
        span.btn-violet__text то, что надо!
          br
          |берем
