.welcome 
  .welcome__title
  a(href="").welcome__btn.welcome__btn--smilies
    span.welcome__btn-bg
    span.welcome__btn-text ХОЧУ!
    span.welcome__btn-smilie.welcome__btn-smilie--1
    span.welcome__btn-smilie.welcome__btn-smilie--2
    span.welcome__btn-smilie.welcome__btn-smilie--3
    span.welcome__btn-smilie.welcome__btn-smilie--4
    span.welcome__btn-smilie.welcome__btn-smilie--5
    span.welcome__btn-smilie.welcome__btn-smilie--6
    span.welcome__btn-smilie.welcome__btn-smilie--7
    span.welcome__btn-smilie.welcome__btn-smilie--8
    span.welcome__btn-smilie.welcome__btn-smilie--9
    span.welcome__btn-smilie.welcome__btn-smilie--10
    span.welcome__btn-smilie.welcome__btn-smilie--11
    span.welcome__btn-smilie.welcome__btn-smilie--12
  a(href="#").welcome__logo
