extends layouts/layout.pug

block title
  title Main page

block content
  include blocks/welcome
  include blocks/unlimited
  include blocks/discount-2
  include blocks/subscription-9
  include blocks/footer
