extends layouts/layout.pug

block title
  title Main page

block content
  include blocks/welcome
  include blocks/unlimited-2
  include blocks/discount
  include blocks/subscription
  include blocks/footer
